*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration:none;
    color: black;
    

   } 

body{
    background-color:#ecca9f;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    background-color:#000;
    align-items: center;
    height: 80px ;
    position: relative;
    
    
}
header a{
    color: #ccc;
    font-weight: bold;

}
.logo{
  
    font-size: 25px;
    font-weight: bold;
    
   }
     .logo a{
         text-decoration: none;
         color:#ccc ;
     }

.links{
    display: flex;
    justify-content: space-between;
 
}
 ul.links {
     width: 30%;
     
 }
 .links li{
     list-style:none ;
     text-decoration: none;
   
 }
 .links li a{
     text-decoration: none;
 }
 .links li a:hover{
   color:#de7d4e;
}

.text-container p:nth-child(1){
   
    font-weight:bold;
    color:#6d6d6d;
    font-size:22px;
   }


   .text-container p:nth-child(2){
    
    font-weight:bold;
    letter-spacing:1px;
    color:#1a1a1a;
    font-size:60px;
    
   }
   .text-container p:nth-child(3){
    
    color: #403e3e;
    font-size:30px;
    line-height:30px;
   }

   .text-container p{
    margin:45px 0px 25px;
    line-height:0px;

   }

   .text-container button{
    width:130px;
    height:42px;
    border-radius:10px;
    font-family:calibri;
    font-weight:bold;
    font-size: 14px;
    outline:none;
    margin:0px 10px;
    
   }

   .text-container{
    position: absolute;
    left:13%;
    top:30%;
    transform:translate(-13%,-42%);
   }
   .hire-btn{
    border:2px solid #373636;
    color:#373636;
    background-color:transparent;
    
   }
   .down-cv{
    background-color:#0B0B0B;
    color:#fff; 
    border:none;
   }
   button:active{
    transform:scale(1.1);
   }
   .model{
    width: 20%;
    position:absolute;
    bottom:230px;
    left:75%;
    transform: translateX(-75%);
    border: 2px solid black;
    box-shadow: 12px -6px 14px -9px #696262;    
    
   }

   .about-container{
    width:80%;
    height:430px;
    background:#fff2e1;
    border-radius:20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -7%  auto 20px auto;
    position: relative;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 400px;
   }
   .about-container img{
    width: 20%;
   }
   .about-text{
    width:500px;
   } 
   .about-text p:nth-child(1){
    color:#403e3e;
   
    font-weight:bold;
    font-size:30px;
    line-height:0px;
   }
   .about-text p:nth-child(2){
    color:#3e3d3d;
    font-size:17px;
    
    font-weight:bold;
    line-height:5px;
    margin-top: 15px;
   }

   .about-text p:nth-child(3),.about-text p:nth-child(4){
    color:#000000;
    
    font-size:16px;
    margin-top: 15px;
   }

   .about-text button{
    width:120px;
    height: 40px;
    color:#ffffff;
    outline:none;
    border:none;
    background-color:#262525;
   }

   .myImg{
       border: 2px solid black;

   }
   .dev{
       color:#d8571a;
   }
   

   .social{
    position: fixed;
    top:50%;
    right:0px;
    transform:translateY(-50%);
   }
   .social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    margin:0px;
    padding: 0px;
    line-height:0px;
    background-color:#fff2e1;
    border:1px solid #CBCBCB;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
   }
   .social a:hover{
    background-color:#ecca9f;
    transition:all ease 0.5s;
   }
   .social i{
    font-size:20px;
    color:#2B2B2B;
   }
    
   #services{
    height:600px;
    background-color:#f7eee4;
    padding: 2% 10% 0px 10%;
   }
   .services-text p:nth-child(1){
    
    font-weight:bold;
    color:#1d1c1c;
    font-size:30px;
    line-height:0px;
    margin-bottom: 20px;
   }
   .services-text p:nth-child(2){
    
    font-weight: bold;
    color:#3e3d3d;
    font-size: 15px;
    line-height: 5px;
    margin-bottom: 10px;
   }
   .services-text p:nth-child(3){
    
   color:black;
   font-size: 17px;}
   .services-text{
    width: 600px;
    margin:50px 0px;
   }
   .box-container{
    display:flex;
    justify-content:space-between;
   
   }
   .box-1,.box-2,.box-3{
    width: 300px;
    height:320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:2px 2px 18px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 4px;
  
    
    
   }
    
   .box-1{
    background-image:url("../img/services-1.png");
   }
   .box-2{
    background-image:url("../img/services-2.png");
   }
   .box-3{
    background-image: url("../img/servies-3.png");
   }
   .box-1 span,
   .box-2 span,
   .box-3 span{
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items:center;
     font-weight: bold;
     margin-bottom: 15px;
   }
   .box-1 p:nth-child(2),
   .box-2 p:nth-child(2),
   .box-3 p:nth-child(2){
    color:#e8aa5a;
    font-size: 23px;
    font-weight: bold;
    line-height:0px;
    margin-bottom: 15px;
   }
   .box-1 p:nth-child(3),
   .box-2 p:nth-child(3),
   .box-3 p:nth-child(3){
    font-family: calibri;
    color:#8F8F8F;
    text-align:center;
    width: 230px;
    margin:0px 0px 20px 0px;
   }
   .box-1 button,
   .box-2 button,
   .box-3 button {
    width:100px;
    height:30px;
    background-color:#FFFFF;
    border:none;
  
    border-radius:5px;
   }


   footer p{
    font-family: calibri;
   }
   footer p:nth-child(1){
    font-size: 30px;
    font-weight:bold;
    color:#191919;
    line-height:10px;
    margin-bottom: 15px;
   }
   footer p:nth-child(2){
    font-size: 16px;
    color:#7e7d7d;
    width:600px;
    text-align: center;
    margin-bottom: 15px;
   }
   footer{
    height:300px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
    background-color:#ecca9f;
   }
   .social-icons a{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin:20px 10px;
    border-radius:50%;
   }
   .social-icons{
    display: flex;
    
   }
   .social-icons i,.social i{
    color:#000000;
   }
   .social-icons a:hover{
    background-color:#000000;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    transition:all ease 0.5s;
   }
   .social-icons a:hover i,
   .social a:hover i{
    color:#FFFFFF;
    transition:all ease 0.5s;
   }
    
   .copyright{
    color:#565555;
    font-size: 12px;
    position: inherit;
    margin-left: 115px;
    left:50%;
    bottom:10px;
    transform: translateX(-50%);
   }

   .w3-round-large {
    border-radius: 8px;
    width: 50%;
   
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #8a4747!important;
    background-color: #736d6d!important;
    margin-left: 10px;
}

.w3-orange, .w3-hover-orange:hover {
    color: #fff!important;
    background-color: #f59910!important;
}



.skills{
  
    background-color:#f7eee4;
    padding: 2% 10% 0px 10%;
   
    
   }

   .skills p {
       color: #000000;
       font-weight: bold;
   }

   #resume{
    padding: 2% 10% 1px 10%;
    background-color: #f7eee4;

   }
   .job{
       display: flex;
       justify-items: center;
       
   }

   i.fas.fa-laptop-code {
    margin: 6px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
}


#contact{
    padding: 2% 10% 0px 10%;
    background-color: #f7eee4;

}













th{
font-size: 20px;
color:dodgerblue;
}
h2{
color: #5a5151;
text-decoration-line:underline;
margin-bottom: 20px;
}

input[type=text],input[type=email],input[type=number],input[type=textarea],   select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit] {
width: 30%;
background-color:#e99651;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #ef7917;
color:black;
font-weight: bold;
}

form {
border-radius: 5px;
background-color:#4e4e4e;
padding: 20px;
color: #fff
}

td{

width: 33%;
}

#aboutme{
display: flex;

}
.para{
    margin-left: 20px;
    text-align: justify;

}






